<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.co.pspmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".PspMobileApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PSPMobile"
        tools:targetApi="31">
        <activity
            android:name=".ui.invoice.InvoicePaymentActivity"
            android:exported="false" />
            <activity
            android:name=".ui.HomeBottomNavigation.information.InfoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeBottomNavigation.message.NotificationMessageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeBottomNavigation.message.BroadcastDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.digitalCard.HistorySyncDigitalCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.donation.detail.DonationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.attendance.detail.AttendanceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.invoice.InvoiceActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.topup.history.HistoryTopUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.topup.TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.createpassword.CreatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeBottomNavigation.profile.language.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeBottomNavigation.profile.faq.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeBottomNavigation.profile.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeBottomNavigation.profile.edit.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transaction.detail.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.attendance.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.schedule.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.donation.DonationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.digitalCard.DigitalCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transaction.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mutation.MutationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.PSPMobile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="id.co.nobu.neobiz.notifications_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".data.service.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_firebase_notif" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />
    </application>

</manifest>